:root {
  --borderColor: #54ad51;
  --buttonColor: #f0f8f5;
  --mainColor: #606b56;
  --textcolor: black;
  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;
  --secondary: #515a48;
  --secondaryText: #eaf8f2;

  --navbar: rgb(53, 87, 46);
}
